echo "backend/distilbert_results/
backend/distilbert_trained_model/
backend/venv/
backend/database/mental_health_app.db" >> .gitignorebackend/distilbert_results/
backend/database/mental_health_app.db
